<!DOCTYPE html>
<html ng-app="adminWorks" manifest="nocache.appcache">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>勤務記録</title>

    <!-- Bootstrap Core CSS -->
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- DataTables CSS -->
    <link href="../bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet">

    <!-- DataTables Responsive CSS -->
    <link href="../bower_components/datatables-responsive/css/responsive.dataTables.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- jQuery -->
    <script src="../bower_components/jquery/dist/jquery.min.js?81e7e24733a56bbf"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../bower_components/metisMenu/dist/metisMenu.min.js"></script>

    <!-- DataTables JavaScript -->
    <script src="../bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="../bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../dist/js/sb-admin-2.js"></script>

    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
        $(document).ready(function() {
            $('#dataTables-example').DataTable({
                responsive: true
            });
        });
    </script>

    <!--  AngularJS -->
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="../bower_components/angular-cookies/angular-cookies.js"></script>

    <!-- moment -->
    <script src="../bower_components/moment/min/moment.min.js"></script>

    <!-- moment-timezone -->
    <script src="../bower_components/moment-timezone/builds/moment-timezone-with-data.min.js"></script>

    <script src="../bower_components/angular-datatables/dist/angular-datatables.min.js"></script>
    <link rel="stylesheet" href="../bower_components/angular-datatables/dist/css/angular-datatables.css">

    <!-- ui bootstrap -->
    <script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

</head>

<body>

    <div id="wrapper" ng-controller="adminWorksCtrl">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <a ng-click="logout()"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="users.html">ユーザー管理</a>
                        </li>
                        <li>
                            <a href="#">履歴</a>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">勤務時間承認</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            勤務時間一覧表
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="dataTable_wrapper">
                                <table datatable="ng" class="table table-bordered table-hover" id="workTable">
                                    <thead>
                                        <tr>
                                            <th>日付</th>
                                            <th>ユーザー名</th>
                                            <th>退社予定時間</th>
                                            <th>残業理由</th>
                                            <th>退社時間</th>
                                            <th>ステータス</th>
                                            <th>拒絶理由</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="work in ::works" >
                                            <td>{{formatDate(work.workDate)}}</td>
                                            <td>{{work.username}}</td>
                                            <td>{{formatTime(work.estimateTime)}}</td>
                                            <td>{{work.workReason}}</td>
                                            <td>{{formatTime(work.finishedTime)}}</td>
                                            <td ng-if="work.status == 'estimated'"><a ng-click="approveTime(work)">承認</a>　<a ng-if="work.status == 'estimated'" ng-click="openDeclineForm(work)">却下</a></td>
                                            <td ng-if="work.status != 'estimated'">{{work.status}}</td>
                                            <td>{{work.declineReason}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->

                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
            </div>
            <!-- /.row -->

        </div>
        <!-- /#page-wrapper -->

        <!-- Modal for newGuestForm -->
        <script type="text/ng-template" id="T_declineForm">
            <div class="modal-header">
                <button type="button" class="close" ng-click="$dismiss()">&times;</button>
                <h3>却下理由を入力してください。</h3>
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="form-group">
                        <label>却下理由</label>
                        <input ng-model="currentWork.declineReason" type="text" class="form-control" placeholder="却下理由" />
                        <br />
                        {{currentWork.username}}
                    </div>
                </form>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-success" ng-click="declineTime()">送信</button>
            </div>
        </script><!-- Modal for newGuestForm-->
    </div>
    <!-- /#wrapper -->

    <script src="../js/auth.js?4a71da0df60b8090"></script>
    <script src="../js/adminWorks.js?648fa8f58d3728ed"></script>
</body>

</html>
